.card.italian.phrases {
    row-gap: 6pt;

    padding: 5mm;

    display: inline-flex;

    flex-direction: column;

    justify-content: space-between;

    .phrase {
        line-height: 1;

        font-size: 8pt;
        font-family: "Source Serif 4";
    }

    .color {
        display: inline-block;

        &.color-1 {
            background-color: hsl(0, 100%, 90%);
        }

        &.color-2 {
            background-color: hsl(40, 100%, 70%);
        }

        &.color-3 {
            background-color: hsl(60, 100%, 50%);
        }

        &.color-4 {
            background-color: hsl(90, 100%, 80%);
        }
    }
}