.card.italian.words {
    row-gap: 8pt;

    padding: 5mm;

    display: inline-flex;

    flex-wrap: wrap;

    column-gap: 8pt;

    align-items: end;
    align-content: space-between;

    justify-content: space-between;

    .word {
        line-height: 1;

        font-size: 10pt;
        font-family: "Source Serif 4";
    }

    .color {
        &.color-1 {
            background-color: hsl(0, 100%, 90%);
        }

        &.color-2 {
            background-color: hsl(40, 100%, 70%);
        }

        &.color-3 {
            background-color: hsl(60, 100%, 50%);
        }

        &.color-4 {
            background-color: hsl(90, 100%, 80%);
        }
    }

}