.card.note {
    padding: 5mm;

    display: inline-block;

    padding-bottom: calc(5mm - 4pt);

    * {
        margin: 0;

        font-size: 12pt;
        font-family: "Source Serif 4";
    }

    h2, h3, p, ul, ol {
        margin-bottom: 4pt;
    }

    h2, h3 {
        line-height: 1;

        font-family: "Source Sans 3";

        padding-bottom: 2pt;

        border-bottom-width: 1pt;
        border-bottom-style: solid;
        border-bottom-color: black;
    }

    h2 {
        font-size: 14pt;
    }

    h3 {
        font-size: 12pt;
    }

    ul {
        padding-left: 5mm;

        li p {
            margin: 0;
            margin-left: -4pt;
        }
    }

    ol {
        padding-left: 4.5mm;

        li p {
            margin: 0;
        }
    }

    .md {
        * {
            font-size: 10pt;
        }

        ul {
            padding-left: 4.5mm;
        }
    }

    .sm {
        * {
            font-size: 8pt;
        }

        ul {
            padding-left: 4mm;
        }
    }

    .xs {
        * {
            font-size: 6pt;
        }

        ul {
            padding-left: 3.5mm;
        }
    }
}