.card.note {
    padding: 5mm;

    display: inline-block;

    padding-bottom: calc(5mm - 4pt);

    * {
        margin: 0;

        font-size: 12pt;
        font-family: "Source Serif 4";
    }

    h2, h3, h4, p, ul, ol, table {
        margin-bottom: 4pt;
    }

    h2, h3, h4 {
        line-height: 1;

        font-family: "Source Sans 3";

        padding-bottom: 2pt;

        border-bottom-width: 1pt;
        border-bottom-style: solid;
        border-bottom-color: black;
    }

    h2 {
        font-size: 14pt;
    }

    h3 {
        font-size: 12pt;
    }

    h4 {
        font-size: 10pt;
    }

    ul {
        padding-left: 5mm;

        li p {
            margin: 0;
            margin-left: -4pt;
        }
    }

    ol {
        padding-left: 4.5mm;

        li {
            p {
                margin: 0;
            }

            ol {
                margin-bottom: 0;
            }
        }
    }

    table {
        width: 100%;

        border-collapse: collapse;

        thead {
            tr {
                border-bottom-width: 1pt;
                border-bottom-style: solid;
                border-bottom-color: black;

                th {
                    font-family: "Source Sans 3";
                }
            }
        }

        tr {
            td, th {
                padding-right: 4pt;

                &.halign-center {
                    text-align: center;
                }

                p {
                    margin: 0;
                }
            }

            td + td, th + th {
                padding-left: 4pt;

                border-left-width: 1pt;
                border-left-style: solid;
                border-left-color: black;
            }
        }

        tr + tr {
            td {
                border-top-width: 1pt;
                border-top-style: solid;
                border-top-color: black;
            }
        }
    }

    code {
        font-size: 11pt;
        font-family: "Source Code Pro";
    }

    .md {
        * {
            font-size: 10pt;
        }

        ul {
            padding-left: 4.5mm;
        }
    }

    .sm {
        * {
            font-size: 8pt;
        }

        ul {
            padding-left: 4mm;
        }

        ol {
            padding-left: 3mm;
        }
    }

    .xs {
        * {
            font-size: 6pt;
        }

        ul {
            padding-left: 3.5mm;
        }
    }
}