@import "cards/note";
@import "cards/japanese";
@import "cards/character";

@page {
    size: A4;

    margin-top: 10mm;
    margin-left: 10mm;
    margin-right: 0;
    margin-bottom: 0;
}

@media print {
    body {
        margin: 0;
        padding: 0;
    }
}

@media screen {
    .cards {
        zoom: 110%;
    }
}

.card {
    display: inline-block;

    box-sizing: border-box;

    border-width: 1pt;
    border-style: solid;
    border-color: hsl(0, 0%, 95%);

    break-inside: avoid;

    vertical-align: top;

    &[data-size="B8"] {
        width: 62mm;
        height: 88mm;
    }
}