.card.japanese-grammar {
    padding: 5mm;

    display: inline-block;

    font-size: 10pt;
    font-family: "Noto Sans JP", "Noto Sans";

    *:first-child {
        margin-top: 0;
    }

    h2, p, ul {
        margin-bottom: 8pt;
    }

    h2 {
        font-size: 16pt;

        padding-bottom: 1pt;

        border-bottom-width: 1pt;
        border-bottom-style: solid;
        border-bottom-color: black;
    }

    ul {
        padding-left: 2em;

        p {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}