.card.japanese-note {
    padding: 5mm;

    display: inline-flex;

    font-size: 10pt;
    font-family: "Noto Sans JP", "Noto Sans";

    .extra-large {
        font-size: 13pt
    }

    .large {
        font-size: 12pt
    }

    .medium {
        font-size: 11pt;
    }

    *:first-child {
        margin-top: 0;
    }

    h2, p, ul {
        margin-bottom: 8pt;
    }

    h2 {
        font-size: 18pt;

        line-height: 1em;

        padding-bottom: 4pt;

        border-bottom-width: 1pt;
        border-bottom-style: solid;
        border-bottom-color: black;
    }

    ul {
        padding-left: 2em;

        p {
            margin-top: 0;
            margin-bottom: 0;
        }

        li > * {
            margin-left: -2pt;
        }
    }

    .sect1 {
        display: flex;

        flex-grow: 1;
        flex-direction: column;

        .sectionbody {
            display: flex;

            flex-grow: 1;
            flex-direction: column;
        }

        &:has(.sectionbody > .center) {
            h2 {
                margin-bottom: 0;
            }
        }
    }

    .center {
        margin: auto;

        text-align: center;

        align-self: center;

        p {
            margin-bottom: 0;
        }

        ul, ol {
            text-align: left;

            padding-left: 14pt;
        }
    }
}