.card.japanese-phrase {
    padding: 5mm;

    display: inline-flex;

    line-height: 1.6em;

    align-items: center;

    font-weight: 400;
    font-family: "Noto Sans JP", "Noto Sans";

    writing-mode: vertical-rl;

    letter-spacing: 1pt;

    .section {
        display: inline;

        vertical-align: bottom;

        .character {
            display: inline-block;
        }

        .furigana {
            display: inline-flex;

            align-items: center;

            writing-mode: initial;

            .furigana-text {
                line-height: 0;

                font-weight: 400;

                user-select: none;
            }

            .furigana-base, .furigana-text {
                writing-mode: vertical-rl;
            }
        }
    }

    .section.bold {
        font-weight: 700;
    }

    &[data-font="large"] {
        font-size: 24pt;

        .furigana-text {
            font-size: 8pt;

            margin-left: -2pt;
        }
    }

    &[data-font="medium"] {
        font-size: 20pt;

        .furigana-text {
            font-size: 7pt;

            margin-left: -1pt;
        }
    }

    &[data-font="small"] {
        font-size: 16pt;

        .furigana-text {
            font-size: 6pt;

            margin-left: -1pt;
        }
    }
}