.card.simple-japanese-grammar {
    padding: 5mm;

    display: inline-flex;

    font-size: 11pt;
    font-family: "Noto Sans JP", "Noto Sans";

    flex-direction: column;

    h2 {
        font-size: 15pt;

        margin-top: 0;
        margin-bottom: 0;

        padding-bottom: 1pt;

        border-bottom-width: 1pt;
        border-bottom-style: solid;
        border-bottom-color: black;
    }

    p {
        text-align: center;
    }

    .sect1 {
        display: flex;

        flex-grow: 1;

        flex-direction: column;

        .sectionbody {
            display: flex;

            flex-grow: 1;

            flex-direction: column;

            .paragraph {
                padding: 5mm;

                display: flex;

                flex-grow: 1;

                align-items: center;

                justify-content: center;
            }
        }
    }
}