link rel="stylesheet" href="/styles/cards.css"

link rel="stylesheet" href="/styles/card/note.css"
link rel="stylesheet" href="/styles/card/study.css"
link rel="stylesheet" href="/styles/card/recipe.css"

link rel="stylesheet" href="/styles/card/italian/words.css"
link rel="stylesheet" href="/styles/card/italian/phrases.css"

link rel="stylesheet" href="/styles/card/japanese/words.css"
link rel="stylesheet" href="/styles/card/japanese/phrases.css"

script src="/views/root.rb"