link rel="stylesheet" href="/styles/cards.css"

link rel="stylesheet" href="/styles/cards/note.css"
link rel="stylesheet" href="/styles/cards/study.css"
link rel="stylesheet" href="/styles/cards/recipe.css"

link rel="stylesheet" href="/styles/cards/italian/words.css"
link rel="stylesheet" href="/styles/cards/italian/phrases.css"

link rel="stylesheet" href="/styles/cards/japanese/words.css"
link rel="stylesheet" href="/styles/cards/japanese/phrases.css"

script src="/views/root.rb"