.card.random-table {
    padding: 5mm;

    display: inline-block;

    font-family: "Source Sans Pro";

    h2, h3 {
        margin-top: 0;
        margin-bottom: 8pt;

        padding-bottom: 1pt;

        border-bottom-width: 1pt;
        border-bottom-style: solid;
        border-bottom-color: black;
    }

    h2 {
        font-size: 13pt;
    }

    h3 {
        font-size: 12pt;
    }

    table {
        width: 100%;

        font-size: 11pt;

        text-align: center;

        border-collapse: collapse;

        th, td {
            padding-top: 2pt;
            padding-bottom: 2pt;
        }

        th {
            font-weight: bold;
        }

        th.range {
            min-width: 2.2em;

            box-sizing: border-box;

            white-space: nowrap;

            padding-left: 4pt;
            padding-right: 4pt;
        }

        td.range {
            min-width: 2.2em;

            box-sizing: border-box;

            white-space: nowrap;

            padding-left: 8pt;
            padding-right: 8pt;
        }
    }

    table, th, td {
        border-width: 1pt;
        border-style: solid;
        border-color: black;
    }
}