.card.table {
    padding: 5mm;

    display: inline-block;

    font-size: 11pt;
    font-family: "Source Sans Pro";

    h2 {
        font-size: 14pt;

        margin-top: 0;
        margin-bottom: 8pt;

        padding-bottom: 1pt;

        border-bottom-width: 1pt;
        border-bottom-style: solid;
        border-bottom-color: black;
    }

    table {
        width: 100%;

        font-size: 11pt;

        border-collapse: collapse;

        th, td {
            text-align: left;

            border-width: 1pt;
            border-style: solid;
            border-color: black;

            padding-top: 2pt;
            padding-left: 4pt;
            padding-right: 4pt;
            padding-bottom: 2pt;

            &.halign-right {
                text-align: right;
            }

            &.halign-center {
                text-align: center;
            }

            ul {
                padding-left: 14pt;

                margin-bottom: 0;

                p {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }

        p {
            margin-bottom: 0 !important;
        }
    }

    &[data-font="large"] {
        &, table {
            font-size: 11pt;
        }
    }

    &[data-font="medium"] {
        &, table {
            font-size: 10pt;
        }
    }

    &[data-font="small"] {
        &, table {
            font-size: 9pt;
        }
    }
}