.card.character {
    padding: 5mm;

    font-family: "Source Sans Pro";

    h1 {
        font-size: 14pt;
        font-weight: 700;

        line-height: 1em;

        margin-top: 0;
        margin-bottom: 8pt;

        padding-bottom: 1pt;

        border-bottom-width: 1pt;
        border-bottom-style: solid;
        border-bottom-color: black;
    }

    table {
        width: 100%;

        font-size: 11pt;

        border-collapse: collapse;

        tr, td {
            border-width: 1pt;
            border-style: solid;
            border-color: black;
        }

        td {
            padding-top: 2pt;
            padding-left: 4pt;
            padding-right: 4pt;
            padding-bottom: 2pt;
        }

        td.key {
            width: 1%;

            font-weight: 600;
        }
    }
}