.card.definition {
    padding: 5mm;

    vertical-align: top;

    display: inline-block;

    box-sizing: border-box;

    div {
        font-size: 8pt;
        font-weight: 400;

        text-align: justify;

        font-family: "Source Serif Pro";

        span.term {
            font-size: 10pt;
            font-weight: 700;
    
            margin-right: 0.5em;
    
            display: inline-block;
    
            font-family: "Source Sans Pro";
        }
    }
}