.card.note {
    padding: 5mm;

    display: inline-flex;

    font-family: "Source Sans Pro";

    flex-direction: column;

    *:first-child {
        margin-top: 0;
    }

    h2, h3, h4 {
        margin-bottom: 0;

        border-bottom-width: 1pt;
        border-bottom-style: solid;
        border-bottom-color: black;
    }

    ol, ul {
        padding-left: 1em;

        margin-bottom: 0;

        li p {
            padding-left: 2pt;

            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .sect1, .sect2, .sect3, .sectionbody {
        display: flex;

        flex-grow: 1;
        flex-direction: column;
    }

    .center {
        margin: auto;

        align-self: center;

        text-align: center;

        ul, ol {
            text-align: initial;
        }
    }

    h2, &[data-font="large"] {
        font-size: 15pt;
    }

    h3, &[data-font="medium"] {
        font-size: 13pt;
    }

    h4, &[data-font="small"] {
        font-size: 11pt;
    }
}