.card.note {
    padding: 5mm;

    display: inline-flex;

    font-family: "Source Sans Pro";

    flex-direction: column;

    *:first-child {
        margin-top: 0;
    }

    h2, h3, h4 {
        margin-bottom: 8pt;

        border-bottom-width: 1pt;
        border-bottom-style: solid;
        border-bottom-color: black;
    }

    ul, ol {
        padding-left: 1em;

        margin-bottom: 0;

        li p {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .sect1, .sect2, .sect3, .sectionbody {
        display: flex;

        flex-grow: 1;
        flex-direction: column;
    }

    .sect1 {
        &:has(.sectionbody > .center) {
            h2 {
                margin-bottom: 0;
            }
        }
    }

    .sect2, .sect3 {
        &:has(> .center) {
            h3, h4 {
                margin-bottom: 0;
            }
        }
    }

    .center {
        margin: auto;

        align-self: center;

        text-align: center;

        ul, ol {
            text-align: initial;
        }
    }

    .serif {
        font-family: "Source Serif Pro";
    }

    .justify {
        text-align: justify;
    }

    .extra-large {
        font-size: 17pt;
    }

    h2, .large {
        font-size: 15pt;
    }

    h3, .medium {
        font-size: 13pt;
    }

    h4, .small {
        font-size: 11pt;
    }

    h5, .extra-small {
        font-size: 9pt;
    }
}