body {
    margin: 0;

    height: 100%;

    padding: 0;

    display: flex;

    flex-direction: column;
}

.app-view {
    height: 100%;

    display: flex;

    flex-grow: 1;
    flex-direction: row;

    position: relative;

    .right-pane {
        height: 100%;

        display: flex;

        overflow: auto;

        flex-grow: 1;
        flex-direction: column;

        .cards-view {
            flex-grow: 1;
        }

        .toolbar-view {
            top: 0;

            z-index: 1;

            position: sticky;

            flex-grow: 0;

            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: hsl(0, 0%, 80%);
        }
    }

    .sidebar-view {
        flex-grow: 0;

        border-right-width: 1px;
        border-right-style: solid;
        border-right-color: hsl(0, 0%, 80%);

        .buttons {
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: hsl(0, 0%, 80%);
        }
    }
}