body {
    margin: 0;

    height: 100%;

    padding: 0;

    display: flex;

    flex-direction: column;
}

.app-view {
    height: 100%;

    display: flex;

    flex-grow: 1;
    flex-direction: column;

    position: relative;

    .top-pane {
        width: 100%;

        display: flex;

        flex-grow: 0;
        flex-direction: row;

        .cards-view {
            flex-grow: 1;
        }

        .toolbar-view {
            top: 0;

            width: 100%;

            z-index: 1;

            position: sticky;

            flex-grow: 0;

            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: hsl(0, 0%, 80%);
        }
    }

    .bottom-pane {
        display: flex;

        flex-grow: 1;
        flex-direction: row;

        .cards-view {
            height: 100%;

            overflow: auto;

            flex-grow: 1;
        }

        .sidebar-view {
            height: 100%;

            flex-grow: 0;

            overflow-y: auto;
            overflow-x: hidden;

            border-right-width: 1px;
            border-right-style: solid;
            border-right-color: hsl(0, 0%, 80%);

            .buttons {
                border-bottom-width: 1px;
                border-bottom-style: solid;
                border-bottom-color: hsl(0, 0%, 80%);
            }
        }
    }
}