body {
    margin: 0;

    height: 100%;

    padding: 0;

    display: flex;

    flex-direction: column;
}

.app-view {
    display: flex;

    min-height: 0;

    flex-grow: 1;
    flex-direction: column;

    .top-pane {
        display: flex;

        flex-grow: 0;
        flex-direction: row;

        .toolbar-view {
            flex-grow: 1;

            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: hsl(0, 0%, 80%);
        }
    }

    .bottom-pane {
        min-height: 0;

        display: flex;

        flex-grow: 1;
        flex-direction: row;

        .cards-container {
            overflow: auto;

            flex-grow: 1;

            min-height: 0;
        }

        .sidebar-container {
            flex-grow: 0;

            min-height: 0;

            overflow-y: auto;
            overflow-x: hidden;

            border-right-width: 1px;
            border-right-style: solid;
            border-right-color: hsl(0, 0%, 80%);
        }
    }
}