body {
    margin: 0;

    padding: 0;
}

.cards {
    gap: 8px;

    padding: 16px;

    display: masonry;

    position: relative;

    justify-content: start;

    grid-template-columns: repeat(auto-fill, auto);

    .card-container {
        width: 62mm;

        display: inline-block;

        position: relative;

        vertical-align: top;

        &:hover {
            cursor: pointer;

            .card {
                border-color: hsl(0, 0%, 80%);
            }

            .delete-button {
                visibility: initial;
            }
        }

        .card {
            width: 62mm;

            overflow: hidden;

            min-height: 42px;
            max-height: 88mm;

            box-sizing: border-box;

            border-width: 1px;
            border-style: solid;
            border-color: hsl(0, 0%, 90%);
            border-radius: 5mm;
        }

        .delete-button {
            top: 6px;
            right: 6px;

            width: 28px;
            height: 28px;

            z-index: 1;

            display: flex;

            position: absolute;

            visibility: hidden;

            align-items: center;

            font-size: 14px;
            font-family: sans-serif;

            border-width: 1px;
            border-style: solid;
            border-color: hsl(0, 0%, 90%);
            border-radius: 28px;

            justify-content: center;

            background-color: white;

            &:hover {
                border-color: hsl(0, 0%, 80%);

                background-color: hsl(0, 0%, 95%);
            }
        }
    }

    .new-card-button {
        top: 10px;
        right: 10px;

        width: 36px;
        height: 36px;

        z-index: 1;

        display: flex;

        position: absolute;

        align-items: center;

        font-size: 26px;
        font-family: sans-serif;

        border-width: 1px;
        border-style: solid;
        border-color: hsl(0, 0%, 90%);
        border-radius: 28px;

        justify-content: center;

        background-color: white;

        &:hover {
            cursor: pointer;

            border-color: hsl(0, 0%, 80%);

            background-color: hsl(0, 0%, 95%);
        }
    }
}

.editor-modal {
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    padding: 10%;

    z-index: 1;

    display: flex;

    position: fixed;

    box-sizing: border-box;

    align-items: center;

    flex-direction: column;

    background-color: hsla(0, 0%, 0%, 0.4);

    .editor-container {
        display: flex;

        min-width: min(550px, 100%);
        min-height: min(600px, 100%);

        max-width: 100%;
        max-height: 100%;

        position: relative;

        .editor {
            overflow: hidden;

            flex-grow: 1;

            border-width: 1px;
            border-style: solid;
            border-color: hsl(0, 0%, 50%);
            border-radius: 16px;

            background-color: white;

            .row {
                padding-right: 28px;
            }

            .text {
                overflow: auto;

                textarea {
                    field-sizing: content;
                }
            }
        }

        .close-button {
            top: 6px;
            right: 6px;

            width: 28px;
            height: 28px;

            display: flex;

            position: absolute;

            align-items: center;

            font-size: 14px;
            font-family: sans-serif;

            border-width: 1px;
            border-style: solid;
            border-color: hsl(0, 0%, 70%);
            border-radius: 28px;

            justify-content: center;

            background-color: white;

            &:hover {
                cursor: pointer;

                border-color: hsl(0, 0%, 50%);

                background-color: hsl(0, 0%, 95%);
            }
        }
    }
}