body {
    margin: 0;
    padding: 0;
}

.cards {
    padding: 16px;

    .card-container {
        width: 62mm;

        margin-right: 8px;
        margin-bottom: 8px;

        display: inline-block;

        overflow: auto;

        position: relative;

        vertical-align: top;

        &:hover {
            cursor: pointer;

            .card {
                border-color: hsl(0, 0%, 80%);
            }

            .delete-button {
                visibility: initial;
            }
        }

        .card {
            width: 62mm;

            min-height: 42px;
            max-height: 88mm;

            box-sizing: border-box;

            border-width: 1px;
            border-style: solid;
            border-color: hsl(0, 0%, 90%);
            border-radius: 5mm;
        }

        .delete-button {
            top: 6px;
            right: 6px;

            width: 28px;
            height: 28px;

            display: flex;

            position: absolute;

            visibility: hidden;

            align-items: center;

            font-size: 14px;
            font-family: sans-serif;

            border-width: 1px;
            border-style: solid;
            border-color: hsl(0, 0%, 90%);
            border-radius: 28px;

            justify-content: center;

            background-color: white;

            &:hover {
                border-color: hsl(0, 0%, 80%);

                background-color: hsl(0, 0%, 95%);
            }
        }
    }
}

.editor-modal {
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: 1;

    display: flex;

    position: fixed;

    flex-direction: column;

    background-color: hsla(0, 0%, 0%, 0.4);

    .editor-container {
        display: flex;

        position: relative;

        flex-grow: 1;

        margin-top: 10%;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 20%;

        .editor {
            flex-grow: 1;

            border-width: 1px;
            border-style: solid;
            border-color: hsl(0, 0%, 50%);
            border-radius: 16px;

            background-color: white;
        }

        .close-button {
            top: 6px;
            right: 6px;

            width: 28px;
            height: 28px;

            display: flex;

            position: absolute;

            align-items: center;

            font-size: 14px;
            font-family: sans-serif;

            border-width: 1px;
            border-style: solid;
            border-color: hsl(0, 0%, 70%);
            border-radius: 28px;

            justify-content: center;

            background-color: white;

            &:hover {
                cursor: pointer;

                border-color: hsl(0, 0%, 50%);

                background-color: hsl(0, 0%, 95%);
            }
        }
    }
}