.cards-view {
    gap: 8px;

    padding: 16px;

    display: masonry;

    position: relative;

    justify-content: start;

    grid-template-columns: repeat(auto-fill, auto);

    &.cards-expand {
        .card-container {
            height: 88mm;
        }
    }
}