$sans-font: "Source Sans 3";

$monospace-font: "Source Code Pro";

.card-view {
    width: 62mm;

    display: flex;

    position: relative;

    min-height: 30mm;

    border-width: 1px;
    border-style: solid;
    border-color: hsl(0, 0%, 90%);
    border-radius: 5mm;

    flex-direction: column;

    &:hover {
        cursor: pointer;

        .binder {
            display: block;
        }

        .print-button {
            visibility: initial;
        }

        .delete-button {
            visibility: initial;
        }

        .card-container {
            .card {
                border-color: hsl(0, 0%, 80%);
            }
        }
    }

    &.loading {
        .card-container {
            height: 88mm;
        }
    }

    .binder {
        left: 0;
        bottom: 0;

        display: none;

        position: absolute;

        padding-left: 6px;
        padding-bottom: 6px;

        select {
            padding: 4px;

            font-size: 12px;
            font-family: $monospace-font;

            border-width: 1px;
            border-style: solid;
            border-color: hsl(0, 0%, 90%);
            border-radius: 3.5mm;

            option {
                color: black;

                &[value=""] {
                    font-size: 0;
                }
            }

            &:hover {
                border-color: hsl(0, 0%, 80%);
            }

            &:focus {
                outline: none;

                border-color: hsl(0, 0%, 80%);
            }

            &:has(option[value=""]:checked) {
                color: hsl(0, 0%, 70%);
            }
        }
    }

    .button {
        width: 28px;
        height: 28px;

        display: flex;

        position: absolute;

        visibility: hidden;

        user-select: none;

        align-items: center;

        font-size: 16px;
        font-family: $sans-font;

        border-width: 1px;
        border-style: solid;
        border-radius: 28px;

        justify-content: center;

        &.print-button {
            right: 6px;
            bottom: 6px;

            &.printed {
                $color: hsl(90, 100%, 70%);

                border-color: $color;

                background-color: $color;
            }

            &.print-ready {
                $color: hsl(60, 100%, 70%);

                visibility: initial;

                border-color: $color;

                background-color: $color;
            }

            &.not-printed {
                $color: hsl(0, 100%, 80%);

                visibility: initial;

                border-color: $color;

                background-color: $color;
            }
        }

        &.delete-button {
            top: 6px;
            right: 6px;

            border-color: hsl(0, 0%, 90%);

            background-color: white;

            &:hover {
                border-color: hsl(0, 0%, 80%);

                background-color: hsl(0, 0%, 95%);
            }
        }
    }

    .card-container {
        display: flex;

        max-height: 88mm;

        flex-grow: 1;
        flex-direction: column;

        .card {
            height: initial;

            flex-grow: 1;

            overflow: hidden;

            box-sizing: border-box;
        }
    }
}