.cards-view {
    padding: 16px;

    column-gap: 16px;
    column-fill: balance;
    column-width: 62mm;
    column-count: auto;

    &.cards-expand {
        .card-view {
            .card-container {
                height: 88mm;
            }
        }
    }

    &.show-binders {
        .card-view {
            .binder {
                display: block;

                position: relative;
            }
        }
    }

    .card-view {
        break-inside: avoid;

        margin-bottom: 16px;
    }
}