.cards-view {
    gap: 8px;

    padding: 16px;

    display: masonry;

    position: relative;

    justify-content: start;

    grid-template-columns: repeat(auto-fill, auto);

    &.full-height {
        .card-container {
            .card-content {
                .card {
                    height: 88mm;
                }
            }
        }
    }

    &.show-binders {
        .card-container {
            .binder.has_binder {
                display: block;
            }
        }
    }

    .card-container {
        width: 62mm;

        position: relative;
        
        border-width: 1px;
        border-style: solid;
        border-color: hsl(0, 0%, 90%);
        border-radius: 5mm;

        vertical-align: top;

        &:hover {
            cursor: pointer;

            border-color: hsl(0, 0%, 80%);

            .binder {
                display: block;
            }

            .print-button {
                visibility: initial;
            }

            .delete-button {
                visibility: initial;
            }
        }
        
        .binder {
            display: none;

            padding-left: 6px;
            padding-bottom: 6px;

            select {
                padding: 4px;

                font-size: 12px;
                font-family: monospace;

                border-width: 1px;
                border-style: solid;
                border-color: hsl(0, 0%, 90%);
                border-radius: 12px;

                option {
                    color: black;

                    &[value=""] {
                        font-size: 0;
                    }
                }

                &:hover {
                    border-color: hsl(0, 0%, 80%);
                }

                &:focus {
                    outline: none;

                    border-color: hsl(0, 0%, 80%);
                }

                &:has(option[value=""]:checked) {
                    color: hsl(0, 0%, 70%);
                }
            }
        }

        .card-content {
            min-height: 10mm;
            max-height: 88mm;

            display: inline-block;

            .card {
                height: initial;

                overflow: hidden;
            }
        }

        .button {
            width: 28px;
            height: 28px;

            display: flex;

            position: absolute;

            visibility: hidden;

            user-select: none;

            align-items: center;

            font-size: 14px;
            font-family: sans-serif;

            border-width: 1px;
            border-style: solid;
            border-color: hsl(0, 0%, 90%);
            border-radius: 28px;

            justify-content: center;

            background-color: white;

            &:hover {
                border-color: hsl(0, 0%, 80%);

                background-color: hsl(0, 0%, 95%);
            }
        }

        .print-button {
            right: 6px;
            bottom: 6px;

            &.not-printed {
                visibility: initial;

                background-color: hsl(60, 100%, 90%);

                &.print-ready {
                    background-color: hsl(90, 100%, 90%);
                }
            }
        }

        .delete-button {
            top: 6px;
            right: 6px;
        }
    }
}