.cards-view {
    .divider {
        gap: 8px;

        padding: 16px;

        display: masonry;

        position: relative;

        justify-content: start;

        grid-template-columns: repeat(auto-fill, auto);
    }
}