body {
    margin: 0;
    padding: 0;
}

.cards {
    padding: 8px;

    .card_container {
        display: inline-block;

        border-width: 1px;
        border-style: solid;
        border-color: hsl(0, 0%, 90%);
        border-radius: 5mm;

        &:hover {
            cursor: pointer;

            border-color: hsl(0, 0%, 80%);
        }

        .card {
            width: 62mm;
            /* height: 88mm; */

            box-sizing: border-box;
        }
    }
}