.cards-view {
    gap: 16px;

    padding: 16px;

    display: grid;

    grid-template-columns: repeat(auto-fill, 62mm);

    &.cards-expand {
        .card-view {
            .card-container {
                height: 88mm;
            }
        }
    }

    &.show-binders {
        .card-view {
            .binder {
                display: block;

                position: relative;
            }
        }
    }
}