.card.colors {
    display: inline-block;

    .border, line {
        stroke: black;
    }

    .border, line, mask rect {
        stroke-width: 1.8pt;
    }

    .border {
        fill: transparent;
    }
}