.editor {
    display: flex;

    row-gap: 10px;

    flex-direction: column;

    .type {
        flex-grow: 0;

        select {
            padding-top: 4px;
            padding-left: 6px;
            padding-right: 6px;
            padding-bottom: 4px;

            border-width: 1px;
            border-width: solid;
            border-color: hsl(0, 0%, 70%);
            border-radius: 8px;

            &:focus {
                outline: none;

                border-width: 1px;
                border-width: solid;
                border-color: hsl(0, 0%, 50%);
            }
        }
    }

    .text {
        flex-grow: 1;

        textarea {
            width: 100%;
            height: 100%;

            resize: none;

            border-width: 1px;
            border-width: solid;
            border-color: hsl(0, 0%, 70%);
            border-radius: 8px;

            padding-top: 6px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 6px;

            &:focus {
                outline: none;

                border-width: 1px;
                border-width: solid;
                border-color: hsl(0, 0%, 50%);
            }
        }
    }
}