$sans-font: "Source Sans 3";

$border-radius: 3.5mm;

$monospace-font: "Source Code Pro";

.editor-view {
    display: flex;

    row-gap: 8px;

    padding: 16px;

    flex-direction: column;

    *::placeholder {
        color: hsl(0, 0%, 70%);
    }

    select {
        padding: 4px;

        font-size: 14px;
        font-family: $monospace-font;

        border-width: 1px;
        border-style: solid;
        border-color: hsl(0, 0%, 70%);
        border-radius: $border-radius;

        option {
            color: black;

            &:disabled {
                display: none;
            }

            &[value=""] {
                font-size: 0;
            }
        }

        &:focus {
            outline: none;

            border-color: hsl(0, 0%, 50%);
        }

        &:required:invalid {
            color: hsl(0, 0%, 70%);
        }

        &:has(option[value=""]:checked) {
            color: hsl(0, 0%, 70%);
        }
    }

    .text {
        display: flex;

        flex-grow: 1;

        border-width: 1px;
        border-style: solid;
        border-color: hsl(0, 0%, 70%);
        border-radius: $border-radius;

        flex-direction: column;

        &:has(.vi-view:focus, .vi-view .cursor:focus) {
            border-color: hsl(0, 0%, 50%);
        }

        .vi-view {
            row-gap: 8px;

            flex-grow: 1;

            font-size: 14px;
            font-family: $monospace-font;

            &:focus {
                outline: none;
            }

            &.insert-mode {
                .cursor {
                    height: 1.4em;

                    font-size: 14px;
                    font-family: "Source Code Pro";
                }
            }

            &.normal-mode {
                &:focus {
                    .cursor {
                        background-color: black;
                    }
                }

                .cursor {
                    color: white;

                    background-color: hsl(0, 0, 50%);
                }
            }

            .lines {
                padding-top: 8px;
                padding-left: 8px;
                padding-right: 8px;

                background-color: white;

                .character {
                    height: 1.4em;
                }
            }

            .status-bar {
                padding: 8px;

                column-gap: 8px;

                border-top-width: 1px;
                border-top-style: solid;
                border-top-color: hsl(0, 0%, 90%);
            }
        }
    }

    .top-row {
        display: flex;

        column-gap: 8px;

        flex-grow: 0;
        flex-direction: row;

        .type {
            flex-grow: 0;
        }

        .attributes {
            display: flex;

            flex-grow: 1;

            flex-direction: row;

            input {
                flex-grow: 1;

                font-size: 14px;
                font-family: $monospace-font;

                border-style: solid;
                border-color: hsl(0, 0%, 70%);
                border-radius: $border-radius;

                padding-top: 4px;
                padding-left: 8px;
                padding-right: 8px;
                padding-bottom: 4px;

                border-width: 1px;

                &:focus {
                    outline: none;

                    border-color: hsl(0, 0%, 50%);
                }
            }
        }

        .close-button {
            width: 28px;
            height: 28px;

            display: flex;

            flex-grow: 0;

            align-items: center;

            font-size: 16px;
            font-family: $sans-font;

            border-width: 1px;
            border-style: solid;
            border-color: hsl(0, 0%, 70%);
            border-radius: 28px;

            justify-content: center;

            background-color: white;

            &:hover {
                cursor: pointer;

                border-color: hsl(0, 0%, 50%);

                background-color: hsl(0, 0%, 95%);
            }
        }
    }
}