@import "japanese/word";
@import "japanese/phrase";

.card.japanese {
    padding: 5mm;

    display: inline-flex;

    align-items: center;
}

.card.japanese.kanji {
    font-size: 72pt;
    font-weight: 700;
    font-family: "Noto Serif JP";

    justify-content: center;
}