@import "japanese/word";
@import "japanese/phrase";

.card.japanese {
    padding: 5mm;
}

.card.japanese.kanji {
    display: inline-flex;

    align-items: center;

    font-size: 80pt;
    font-weight: 800;
    font-family: "Noto Serif JP";

    justify-content: center;
}