.word, .phrase {
    padding: 10mm;

    display: inline-flex;

    align-items: center;

    justify-content: center;
}

.word {
    font-size: 15pt;
    font-weight: 600;
    font-family: "Source Sans Pro";
}

.phrase {
    text-align: center;

    font-weight: 400;
    font-family: "Source Serif Pro";

    &[data-font="large"] {
        font-size: 15pt;
    }

    &[data-font="medium"] {
        font-size: 13pt;
    }
}