.card.note {
    padding: 5mm;

    display: inline-block;

    font-family: "Source Sans Pro", "Noto Sans JP";

    .serif {
        font-family: "Source Serif Pro", "Noto Serif JP";
    }

    *:first-child {
        margin-top: 0;
    }

    p, ul, h4, h3, h2, table {
        margin-bottom: 8pt;
    }

    h2, h3, h4 {
        padding-bottom: 1pt;

        border-bottom-width: 1pt;
        border-bottom-style: solid;
        border-bottom-color: black;
    }

    .text-justify {
        text-align: justify;
    }

    ul, ol, dl {
        p {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    ul, ol {
        padding-left: 2em;

        ul, ol {
            padding-left: 1em;

            margin-bottom: 0;
        }
    }

    dl {
        dt {
            font-weight: bold;
        }

        dd {
            margin-left: 2em;
        }

        ul, ol {
            padding-left: 1em;

            margin-bottom: 0;
        }

        .not-indented {
            ul, ol {
                padding-left: 0;
            }
        }
    }

    .not-indented {
        ul, ol {
            padding-left: 5mm;
        }
    }

    table {
        width: 100%;

        border-collapse: collapse;

        th, td {
            text-align: left;

            border-width: 1pt;
            border-style: solid;
            border-color: black;

            padding-top: 2pt;
            padding-left: 4pt;
            padding-right: 4pt;
            padding-bottom: 2pt;

            &.halign-right {
                text-align: right;
            }

            &.halign-center {
                text-align: center;
            }
        }

        p {
            margin-bottom: 0 !important;
        }
    }

    &[data-font="large"] {
        &, h4, dl dt, table {
            font-size: 11pt;
        }

        h2 {
            font-size: 15pt;
        }

        h3 {
            font-size: 13pt;
        }
    }

    &[data-font="medium"] {
        &, h4, dl dt, table {
            font-size: 10pt;
        }

        h2 {
            font-size: 14pt;
        }

        h3 {
            font-size: 12pt;
        }
    }

    &[data-font="small"] {
        &, h4, dl dt, table {
            font-size: 9pt;
        }

        h2 {
            font-size: 13pt;
        }

        h3 {
            font-size: 11pt;
        }
    }
}