@page {
    size: A4;

    margin-top: 10mm;
    margin-left: 10mm;
    margin-right: 10mm;
    margin-bottom: 10mm;
}

@media print {
    body {
        margin: 0;
        padding: 0;
    }

    .app-view {
        height: initial;

        display: block;

        .right-pane {
            height: initial !important;

            display: block;

            overflow: initial !important;

            .cards-view {
                height: initial;

                padding: 0;

                display: block;

                .card-view {
                    display: inline-block;

                    border-color: hsl(0, 0%, 95%);
                    border-radius: 0;

                    vertical-align: top;
                    
                    .binder {
                        display: none;
                    }

                    .button {
                        display: none;
                    }

                    .card-container {
                        .card {
                            height: 88mm;

                            break-inside: avoid;
                        }
                    }
                }
            }

            .toolbar-view {
                display: none;
            }
        }

        .sidebar-view {
            display: none;
        }
    }
}