.sidebar-view {
    display: flex;

    flex-direction: column;

    &.expanded {
        .binders {
            display: flex;
        }

        .first-row {
            .buttons {
                .button {
                    display: flex;
                }
            }
        }
    }

    .binders {
        display: none;

        flex-direction: column;

        border-color: hsl(0, 0%, 90%);

        border-top-width: 1px;
        border-top-style: solid;

        border-bottom-width: 1px;
        border-bottom-style: solid;

        .binder {
            user-select: none;

            font-size: 14px;
            font-family: monospace;

            padding-top: 6px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 6px;

            &:hover {
                cursor: pointer;

                background-color: hsl(0, 0%, 95%);
            }

            &.selected {
                &:hover {
                    background-color: hsl(0, 0%, 90%);
                }

                background-color: hsl(0, 0%, 95%);
            }

            .icon {
                font-size: 12px;

                margin-right: 6px;
            }
        }

        .binder + .binder {
            border-top-width: 1px;
            border-top-style: solid;
            border-top-color: hsl(0, 0%, 90%);
        }
    }

    .first-row {
        display: flex;

        padding: 8px;

        flex-direction: row;

        justify-content: space-between;

        .button {
            width: 36px;
            height: 36px;

            display: flex;

            user-select: none;

            align-items: center;

            font-size: 18px;
            font-family: sans-serif;

            border-radius: 28px;

            flex-direction: column;

            justify-content: center;

            background-color: white;

            &:hover {
                cursor: pointer;

                background-color: hsl(0, 0%, 95%);
            }
        }

        .buttons {
            display: flex;

            column-gap: 4px;
            
            flex-direction: row;

            .button {
                display: none;

                border-width: 1px;
                border-style: solid;
                border-color: hsl(0, 0%, 80%);

                &:hover {
                    border-color: hsl(0, 0%, 70%);
                }

                &.selected {
                    background-color: hsl(0, 0%, 95%);
                }
            }
        }

        .expand-button {
            border-width: 1px;
            border-style: solid;
            border-color: transparent;

            &:hover {
                border-width: 1px;
                border-style: solid;
                border-color: hsl(0, 0%, 95%);
            }

            span {
                margin-top: -2px;
            }
        }
    }
}