$sans-font: "Source Sans 3";

$monospace-font: "Source Code Pro";

.sidebar-view {
    display: flex;

    overflow-y: auto;
    overflow-x: hidden;

    flex-direction: column;

    &.expanded {
        .binders {
            display: flex;
        }

        .buttons {
            .button.print-button {
                display: flex;
            }
        }
    }

    .binders {
        display: none;

        flex-direction: column;

        .binder {
            user-select: none;

            font-size: 14px;
            font-family: $monospace-font;

            padding-top: 6px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 6px;

            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: hsl(0, 0%, 90%);

            &:hover {
                cursor: pointer;

                background-color: hsl(0, 0%, 95%);
            }

            &.selected {
                &:hover {
                    background-color: hsl(0, 0%, 90%);
                }

                background-color: hsl(0, 0%, 95%);
            }
        }
    }

    .buttons {
        display: flex;

        padding: 8px;

        flex-direction: row;

        justify-content: space-between;

        background-color: hsl(0, 0%, 95%);

        .button {
            width: 36px;
            height: 36px;

            display: flex;

            user-select: none;

            align-items: center;

            font-size: 20px;
            font-family: $sans-font;

            border-width: 1px;
            border-style: solid;
            border-color: transparent;
            border-radius: 28px;

            flex-direction: column;

            justify-content: center;

            &:hover {
                cursor: pointer;

                border-color: hsl(0, 0%, 90%);

                background-color: hsl(0, 0%, 90%);
            }

            &.print-button {
                display: none;

                &.selected {
                    background-color: hsl(0, 0%, 90%);
                }
            }

            &.expand-button {
                span {
                    margin-top: -1px;
                }
            }

            span {
                margin-top: 2px;
            }
        }
    }
}