.card.simple-note {
    padding: 5mm;

    display: inline-flex;

    font-family: "Source Sans Pro";

    flex-direction: column;

    h2, h3 {
        margin-top: 0;
        margin-bottom: 8pt;

        padding-bottom: 1pt;

        border-bottom-width: 1pt;
        border-bottom-style: solid;
        border-bottom-color: black;
    }

    h2 {
        font-size: 15pt;
    }

    h3 {
        font-size: 13pt;
    }

    p {
        font-size: 13pt;

        text-align: center;
    }

    .sect1 {
        display: flex;

        flex-grow: 1;

        flex-direction: column;

        .sectionbody {
            display: flex;

            flex-grow: 1;

            flex-direction: column;

            .sect2 {
                display: flex;

                flex-grow: 1;

                flex-direction: column;
            }
        }

        .paragraph {
            padding: 5mm;

            display: flex;

            flex-grow: 1;

            align-items: center;

            justify-content: center;
        }
    }
}