.card.simple-note {
    padding: 5mm;

    display: inline-flex;

    font-family: "Source Sans Pro";

    flex-direction: column;

    h2, h3 {
        margin-bottom: 8pt;

        padding-bottom: 1pt;

        border-bottom-width: 1pt;
        border-bottom-style: solid;
        border-bottom-color: black;
    }

    h2 {
        font-size: 15pt;

        margin-top: 0;
    }

    h3 {
        font-size: 13pt;
    }

    p {
        font-size: 13pt;

        text-align: center;
    }

    .sect1 {
        height: 100%;

        display: inline-flex;

        flex-direction: column;

        .sectionbody {
            flex-grow: 1;

            .paragraph {
                height: 100%;

                padding: 5mm;

                display: flex;

                align-items: center;

                justify-content: center;
            }
        }
    }
}