$sans-font: "Source Sans 3";

.toolbar-view {
    padding: 8px;

    display: flex;

    column-gap: 8px;

    flex-direction: row;

    justify-content: space-between;

    background-color: hsl(0, 0%, 95%);

    .button {
        width: 36px;
        height: 36px;

        display: flex;

        flex-grow: 0;

        user-select: none;

        align-items: center;

        font-family: $sans-font;

        border-width: 1px;
        border-style: solid;
        border-radius: 28px;

        justify-content: center;

        &:hover {
            cursor: pointer;

            background-color: hsl(0, 0%, 90%);
        }

        &.print-button {
            font-size: 20px;

            border-color: transparent;

            &.selected {
                background-color: hsl(0, 0%, 90%);
            }
        }

        &.expand-button {
            font-size: 20px;

            border-color: transparent;

            &.selected {
                background-color: hsl(0, 0%, 90%);
            }
        }

        &.new-card-button {
            font-size: 26px;

            border-color: hsl(0, 0%, 80%);

            &:hover {
                border-color: hsl(0, 0%, 70%);
            }
        }

        &.expand-cards-button {
            font-size: 20px;

            border-color: transparent;

            &.selected {
                background-color: hsl(0, 0%, 90%);
            }

            span {
                margin-top: 2px;
            }
        }
    }

    .left-buttons {
        display: flex;

        column-gap: 8px;

        flex-direction: row;
    }

    .right-buttons {
        display: flex;

        column-gap: 8px;

        flex-direction: row;
    }
}