.vi-view {
    display: flex;

    flex-direction: column;

    justify-content: space-between;

    &.insert-mode {
        .lines-container {
            .lines {
                .line {
                    .character {
                        &.cursor {
                            color: initial;

                            background-color: initial;

                            border-left-width: 1px;
                            border-left-style: solid;
                            border-left-color: black;

                            &.last {
                                width: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .lines-container {
        .lines {
            .line {
                display: flex;

                flex-direction: row;

                .character {
                    height: 1.4em;

                    display: inline-flex;

                    line-height: 1em;

                    align-items: center;

                    flex-shrink: 0;
                    flex-direction: row;

                    &.cursor {
                        color: white;

                        background-color: black;
                    }
                }
            }
        }
    }

    .status-bar {
        display: flex;

        column-gap: 8px;

        flex-direction: row;

        justify-content: space-between;
    }
}