.vi-view {
    display: flex;

    flex-direction: column;

    justify-content: space-between;

    &.insert-mode {
        .lines {
            .line {
                .character {
                    &.cursor {
                        color: initial;

                        background-color: initial;

                        border-left-width: 1px;
                        border-left-style: solid;
                        border-left-color: black;

                        &.last {
                            width: 0;
                        }
                    }
                }
            }
        }
    }

    .lines {
        .line {
            display: flex;

            flex-direction: row;

            .character {
                height: 1.2em;

                display: inline-flex;

                line-height: 1em;

                flex-shrink: 0;
                flex-direction: row;

                &.empty {
                    width: 0.7em;
                }

                &.cursor {
                    color: white;

                    background-color: black;
                }
            }
        }
    }
}