.vi-view {
    display: flex;

    min-height: 0;

    flex-direction: column;

    &.insert-mode {
        .cursor {
            margin: 0;

            padding: 0;

            border: none;

            outline: none;

            line-height: 1em;

            field-sizing: content;
        }
    }

    .lines {
        display: flex;

        overflow-x: auto;
        overflow-y: auto;

        flex-grow: 1;
        flex-direction: column;

        .line {
            display: flex;

            flex-direction: row;

            .character {
                display: inline-flex;

                line-height: 1em;

                align-items: center;

                flex-shrink: 0;
                flex-direction: row;
            }
        }
    }

    .status-bar {
        display: flex;

        flex-grow: 0;
        flex-direction: row;

        justify-content: space-between;
    }
}