.vi-view {
    display: flex;

    flex-direction: column;

    justify-content: space-between;

    &.insert-mode {
        &:focus {
            .cursor {
                border-left-color: black;
            }
        }

        .cursor {
            background-color: initial;

            border-left-width: 1px;
            border-left-style: solid;
            border-left-color: hsl(0, 0%, 50%);
        }
    }

    &.normal-mode {
        &:focus {
            .cursor {
                background-color: black;
            }
        }

        .cursor {
            color: white;

            background-color: hsl(0, 0, 50%);
        }
    }

    .lines {
        .line {
            display: flex;

            flex-direction: row;

            .character {
                height: 1.4em;

                display: inline-flex;

                line-height: 1em;

                align-items: center;

                flex-shrink: 0;
                flex-direction: row;
            }
        }
    }

    .status-bar {
        display: flex;

        column-gap: 8px;

        flex-direction: row;

        justify-content: space-between;
    }
}